@import "tailwindcss";
@plugin "daisyui"{
  themes:  night;
};

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #b82626;
}

.btn-sm {
  color: #963a3a;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}